.error {
    color: purple;
}

.item_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
    padding: 30px 60px;
    padding-top: 100px;
}


.head  {
    background-color: white;
    width: 100%;
    position: relative;
    position: fixed;

    /* margin-top: 20px; */
    padding-top: 20px;
    text-align: center;
}
.head h1 {
    font-size: x-large;
    font-weight: bolder;
}
.head h3 {
    font-weight: lighter;
    font-size: small;
}

.footer {
    padding: 30px;
    text-align: center;
    color: #fdfbf9;
    background-color: #171717;
}